.Education {
    text-align: left;
}

.Education__header {
    border-top: 4px solid #c7c7c7;
    border-bottom: 2px solid #c7c7c7;
    font-size: 1.75rem;
    font-weight: 700;
    padding: 10px 0;
    margin: 0;
    text-align: left;
}

.Education__name {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 0;
    padding: 20px 0 5px 0;
}

.Education__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Education__list_item:last-of-type {
    padding-bottom: 20px;
}

.Education__degree_dates {
    margin: 0;
}

.Education__url {
    color: #333;
    text-decoration: none;
}

.bullet {
    font-size: 1.2rem;
    padding: 0 8px;
}
