.Blurb__text {
    line-height: 1.5em;
    text-align: left;
}

.Blurb__contact_button {
    background-color: #efefef;
    border-radius: 5px;
    color: #333;
    display: block;
    line-height: 55px;
    height: 55px;
    margin: 0 auto;
    text-decoration: none;
    width: 220px;
}

.Blurb__contact_button:hover {
    background-color: #333;
    color: #fff;
}
