.Title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Title__title {
    font-size: 1.75rem;
    font-weight: 300;
}

.Title__social_list {
    display: flex;
    list-style-type: none;
    padding: 0;
}

.Title__social_list_item {
    padding: 0 5px;
}
